// Custom styles.
// 主页文章添加阴影效果

 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

//文章动态背景
.bg_content {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.1 !important;
}